.masthead {
    min-height: 100vh;
    position: relative;
    background-size: cover;
    
    
}

.masthead h1 {
    display: flex;
    font-size: 80px;
    font-family: "Gorditas";
    color: rgb(28, 32, 29);        
    max-width: 800px;
    margin: auto;
    height: 60vh;    
    align-items: center;
    justify-content: center;
    border: 10px;
    
} 

.navbar-brand {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



.container2 {
    display: flex;
    background-color: antiquewhite;
    
}

.rates {
  margin-top: -5px;
  text-align: right;
  
}

.spapics {
    margin-top: 100px;
    margin-left: 200px;
   
}

.booknow {
    margin-left: 10px;
    width: 50%;
}

.container3 {
    display: flex;
}

.copyright {
    background-color: cadetblue;
    text-align: center;
}

.pricelist {
    border: 10px;
    border-color: black;
    border-radius: 5px;
    background-color: rgb(147, 204, 159);
}

.carousel-inner {
    height: 400px;
    width: 100%;
    object-fit: cover;

}
